extends layout

block body

    h1 Hi
    
    ul
        li
            a(href='/') Home
        li
            a(href='/featureone') Feature One
        li
            a(href='/featuretwo') Feature Two
    
    div(ng-view)