doctype
html(ng-app='my-app')
    head
        meta(charset='utf8')
        base(href='/')
        title Prototype
    body
        block body
        
        script(src='js/lib/angular.min.js')
        script(src='js/lib/angular-route.min.js')
        script(src='js/app.min.js')